@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --color-bg-primary: #e6fcff; /* fondo pricipal */
    --text-body: #133258;  /* color principal del teto */
    --cta-button-bg: #1714c44d; /* color button */
    --color-btn-hover-: #133258; /* color efecto hover */
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway' sans-serif;
    line-height: 1.5;
    background-color: var(--color-bg-primary);
    color: var(--text-body);
}

/* contenedor */
container-features {
    display: flex;
    flex-direction: column; /* organiza en filas: primero las imágenes, luego el CTA */
    text-align: center;
    gap: 20px;
    align-items: center;
}

h1 {
    font-size: 4.3em;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px 0;
}

p {
    font-size: 1.7em;
    margin-bottom: 40px;
    text-align: center;
}

/* sectión de imagenes | producto */
.features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;  /* espacios entre imagenes */
    flex-wrap: wrap; /* permite que las imágenes se ajusten si no caben en la fila */
}

.feature {
    text-align: center;
    flex: 1;
    max-width: 300px;
}

.feature img {
    width: 100%;
    height: auto;
    border-radius: 8px;
} 

.feature p {
    font-size: 20px;
}


/* llamado a la acción | CTA */
.call-to-action {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 8px;
    background-color: var(--cta-button-bg);
}

/* botón CTA efecto hover */
.cta-button {
    background-color: var(--color-btn-hover-);
    color: var(--color-bg-primary);
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    transition: backgrund-color 0.3s;
}

.cta-button:hover {
    background-color: var(--color-bg-primary);
    color: var(--text-body);
}



